html, body {
	font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.landing {
	background-color: #ecb807;
	min-height: 40rem;
}

.headline, .tagline { font-weight: 700; }
.headline { font-size: 4rem; }

.overlay-bg {
	background: #1d809f;
	border: 2px solid #343a40;
}

.overlay {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	padding: 2em;
	height: 100%;
	width: 100%;
	transition: visibility 0s, opacity 0.7s linear;
}

.projects {
	min-height: 40rem;
	width: 100%;
}

.project-wrapper, .project, .overlay {
	min-height: 420px;
	min-width: 420px;
	max-height: 420px;
	max-width: 420px;
}

.project {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid #343a40;
	height: 100%;
	width: 100%;
}

.project-wrapper:hover .overlay {
	cursor: pointer;
	visibility: visible;
	opacity: 1;
}

.overlay .title {
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.aboutme {
	background-color: #1d809f;
}

/* PROJECTS */
#onestop { background-image: url('../assets/1-stop.png'); }
#food-aroundme { background-image: url('../assets/food-around-me.jpg'); }
#momentum { background-image: url('../assets/momentum-clone-react.png'); }
#playlist { background-image: url('../assets/playlist-search.png'); }
#omada { background-image: url('../assets/plugin.png'); }
