* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Acme', sans-serif;
}

.background-img {
  width: 100%;
  height: 100vh;

  /*background: url('../assets/bg3.jpg') no-repeat center center fixed;*/
  background: url('../assets/bg4.jpg') no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.page {
  width: 100%;
  height: 100vh;
}

#first-pg-background {
  opacity: .9;
}

#second-pg-background {
  opacity: .7;
}

#my-pic img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.center {
  width: 100%;
  height: 1px;

  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#name {
  bottom: 35%;
  color: rgba(10, 10, 10, 0.9);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(200, 200, 200, 0.7);
}

#name h1 {
  font-size: 13em;
}

#name p {
  font-size: 3em;
  font-style: italic;
}

.icons {
  width: 400px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.icons img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  padding: 5px;
  position: relative;
  opacity: .6;
  transition: .5s;
}

.icons img:hover {
  opacity: 1;
  padding-bottom: 20px;
}

#gmail {
  width: 70px;
}

#twitter {
  width: 80px;
  height: 80px;
  position: relative;
  top: 9px;
  right: 9px;
}

.wrapper {
  margin: 0 auto;
}

.tabs {
  width: 100%;
  height: 150px;
  text-align: center;
  position: absolute;
  top: 105%;
}

.tabs a {
  display: inline-block;
  font-size: 2em;
  /*border:  2px solid black;*/
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
  color: rgba(10, 10, 10, 0.9);
  /*-webkit-text-stroke-width: 2px;*/
  /*-webkit-text-stroke-color: rgba(200, 200, 200, 0.7);*/
  transition: 1s;
}


.project-container {
  display: none;
}
