body {
  margin: 0;
  background-color: orange;
  text-align: center;
  height: 2000px;
}

#first, #second, #third {
  margin: 10px;
  font-size: 32px;
}

#first {
  background-color: purple;
}
#second {
  background-color: green;
}
#third {
  background-color: yellow;
}
